
.vs/SER-WEB-API-TESTES/FileContentIndex/4a9462c5-cea8-434a-b4b6-533e0f5788ed.vsidx
.vs/SER-WEB-API-TESTES/v17/.wsuo
.vs/slnx.sqlite
.vs/SER-WEB-API-TESTES/FileContentIndex/b6906d74-de8b-47bc-ae80-3db117a2ac3b.vsidx
PrimeiraAPI/.vs/PrimeiraAPI/FileContentIndex/03cac54f-621e-4fe5-a429-51870e762282.vsidx
PrimeiraAPI/.vs/PrimeiraAPI/FileContentIndex/7da06e6a-b4e6-40f2-bcd8-860a20d31ea9.vsidx
PrimeiraAPI/.vs/PrimeiraAPI/FileContentIndex/be8121b3-b649-4a82-81cd-5b7206c4ab49.vsidx
PrimeiraAPI/.vs/PrimeiraAPI/FileContentIndex/dc545be4-a899-41d0-b68c-776335c8544b.vsidx
PrimeiraAPI/.vs/PrimeiraAPI/FileContentIndex/ebb11db7-4ffc-439f-a139-08950243b6f1.vsidx
PrimeiraAPI/.vs/PrimeiraAPI/FileContentIndex/b31ce6ce-cd37-42b4-8228-1ef1f05f4f80.vsidx
