
.vs/SER-WEB-API-TESTES/FileContentIndex/4a9462c5-cea8-434a-b4b6-533e0f5788ed.vsidx
.vs/SER-WEB-API-TESTES/v17/.wsuo
.vs/slnx.sqlite
.vs/SER-WEB-API-TESTES/FileContentIndex/b6906d74-de8b-47bc-ae80-3db117a2ac3b.vsidx
